<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>

<body>
  <div id="app">
  </div>
  <pre>
    这个方式只是刚开始的测试, 实际上按 v-model 的测试就ok,
    <strong style="color:red;">不应该这样做</strong>
  </pre>
  <script type="text/x-template" id="temp1">
    <div style="margin:10px;border:1px solid green;padding:10px;">
      <input
        v-model="some"
        type="text"
        ref="input">
      <textarea
        v-model="hey"
        ref="textarea"></textarea>

      <div>some: {{some}}</div>
      <div>hey: {{hey}}</div>

      <button @click="showValue">showValue</button>
      <button @click="setRandom">setRandom</button>
      <button @click="updateToModel">updateToModel</button>
    </div>
  </script>
  <script crossorigin="anonymous"
  integrity="sha384-+jvb+jCJ37FkNjPyYLI3KJzQeD8pPFXUra3B/QJFqQ3txYrUPIP1eOfxK4h3cKZP"
  src="https://lib.baomitu.com/vue/2.6.11/vue.js"></script>
  <script>
  var comp2 = {
    el: '#app',
    template: '#temp1',
    data: {
      some: 'init',
      hey: 'init',
    },
    methods: {
      showValue: function() {
        console.log(this.some)
        console.log(this.hey)
      },
      setRandom: function() {
        this.$refs.input.value = Math.random().toString(32).substr(2, 5)
        this.$refs.textarea.value = Math.random().toString(32).substr(2, 5)

        console.log('点击 save 查看, model 没有更新')
      },
      updateToModel: function() {
        this.$refs.input.dispatchEvent(new Event('input'))
        this.$refs.textarea.dispatchEvent(new Event('input'))

        console.log('点击 save 查看, model 更新了')
      },
    },
    mounted: function() {
      window.ref1 = this.$refs.input
      window.ref2 = this.$refs.textarea
      this.$nextTick(function() {
        console.log(this.$refs.input)

      })
    }
  }
  new Vue(comp2)
  </script>
</body>

</html>
