<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <style>
    #app {
      position: relative;
    }
    #app>pre {
      clear: left;
    }

    #list1, #list2 {
      float: left;
      width: 30%;
      margin-right: 10px;
    }

    #list1>div, #list2>div {
      border: 1px solid red;
      margin-bottom: 10px;
      height: 1.5em;
    }

  </style>
</head>

<body>
  <div id="app">
    <div id="list1">
      <div
        v-for="(vv1, index1) in itemList"
        :key="index1">{{vv1.name}}</div>
    </div>
    <div id="list2">
      <div
        v-for="(vv1, index1) in itemList"
        :key="vv1.age">{{vv1.name}}</div>
    </div>

    <pre>
      list1 :key="index1" , DOM节点原地不动
      list2 :key="vv1.age" , DOM节点随 item 移动

      <strong style="color:red;">打开 控制台, 查看 2组 list 的节点变化</strong>
    </pre>

    <div>
      <button @click="shuffleList">shuffleList</button>
      <button @click="addAttr1">addAttr1</button>
      <button @click="addAttr2">addAttr2</button>
    </div>
  </div>
  <pre>

  </pre>
  <script src="https://cdn.bootcss.com/lodash.js/4.17.10/lodash.min.js"></script>
  <script src="./vue.js"></script>
  <script>
    var instance = new Vue({
      el: '#app',
      data: {
        itemList: [{
          name: '张三1',
          age: 11
        }, {
          name: '张三2',
          age: 12
        }, {
          name: '张三3',
          age: 13
        }, {
          name: '张三4',
          age: 14
        }, ],
      },
      computed: {
      },
      methods: {
        shuffleList() {
          this.itemList = _.shuffle(this.itemList)
        },
        addAttr1() {
          document.getElementById('list1').children[_.random(3)].setAttribute('a'+_.random(10000).toString(32), _.random(10000).toString(32))
        },
        addAttr2() {
          document.getElementById('list2').children[_.random(3)].setAttribute('a'+_.random(10000).toString(32), _.random(10000).toString(32))
        },
      },
    });
  </script>
</body>

</html>
