<!DOCTYPE html>
<html>
  <head>
    <title>个人所得税</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="description" content="本页面提供新版 3500 基数的个人所得税计算, 可以从结果倒推出初始工资, 提供公司在此员工身上每月的总付出, 各参数比较可以调整, 对于预算或者计算工资提供一定的参考!">
    <meta name="keywords" content="个税计算 个税倒推 比例可调">
    <style type="text/css">
      table{border-collapse: collapse;}
      th,td{border:1px solid #ccc;padding:4px;}
      input[type="text"]{width:5em;text-align:right;border:2px solid green;}
      input[type="number"]{width:5em;text-align:right;border:2px solid green;}
      input[disabled]{color:#ccc;border-color:#ccc;cursor: not-allowed;}
      .total{display:inline-block;width: 4em;text-align:right;}
      .label1{display:inline-block;width: 5em;text-align:right;}
      .label2{display:inline-block;text-align:right;width:7em;color:#999;}
      .label3-1{display:inline-block;text-align:right;width:7em;color:#999;}
      .label3-2{display:inline-block;text-align:right;width:5em;color:#999;}
    </style>
  </head>
  <body>
    <table id="app">
      <tr>
        <td>税前工资: <input
          type="number"
          @input="changeGlobal"
          v-model.number="config.税前工资" /></td>
      </tr>
      <tr>
        <th>统一基数 <input
          type="checkbox"
          @change="changeGlobal"
          v-model="config.使用统一基数" />
        </th>
        <td>
          <input
            :disabled="!config.使用统一基数"
            type="checkbox"
            v-model="config.使用基数比例" />
          <input
            type="number"
            @input="changeGlobal"
            :disabled="!config.使用统一基数 || !config.使用基数比例"
            v-model.number="config.统一基数比例" />%
          = <input
            type="number"
            @input="changeGlobal"
            :disabled="!config.使用统一基数 || config.使用基数比例"
            v-model.number="config.统一基数金额" />
        </td>
      </tr>
      <tr>
        <th></th>
        <th v-if="!config.使用统一基数">单独基数</th>
        <th>个人</th>
        <th>单位</th>
      </tr>
      <tr v-for="vv in names">
        <th>{{vv}}</th>
        <td v-if="!config.使用统一基数">
          <input type="checkbox" v-model.number="types[vv].使用基数比例" />
          <input
            type="number"
            @input="changeFeeRate(types[vv])"
            :disabled="!types[vv].使用基数比例"
            v-model.number="types[vv].基数比例" />%
          = <input
            type="number"
            @input="changeFeeMoney(types[vv])"
            :disabled="types[vv].使用基数比例"
            v-model.number="types[vv].基数金额" />
        </td>
        <td>
          <span class="label3-1">
            <input type="number" v-model.number="types[vv].个人税率" />%
          </span>
          <span class="label3-2">{{getFee(getBaseFee(types[vv]), types[vv].个人税率) | toFixed2}}</span></td>
        <td>
          <span class="label3-1">
            <input type="number" v-model.number="types[vv].单位税率" />%
          </span>
          <span class="label3-2">{{getFee(getBaseFee(types[vv]), types[vv].单位税率) | toFixed2}}</span></td>
      </tr>

      <tr>
        <td v-if="!config.使用统一基数"></td>
        <td style="text-align: right;">合计</td>
        <td>
          <span class="label3-1">{{个人总缴纳比例 | toFixed2}} %</span>
          <span class="label3-2">{{个人总缴纳 | toFixed2}}</span>
        </td>
        <td>
          <span class="label3-1">{{单位总缴纳比例 | toFixed2}} %</span>
          <span class="label3-2">{{单位总缴纳 | toFixed2}}</span>
        </td>
      </tr>

      <tr>
        <td v-if="!config.使用统一基数"></td>
        <td></td>
        <td><span class="label2">个人所得税率</span> <span class="label1" v-text="个人所得税率"></span> %</td>
        <td><span class="label2">免征额</span> <span class="label1" v-text="config.免征额"></span></td>
      </tr>

      <tr>
        <td v-if="!config.使用统一基数"></td>
        <td></td>
        <td><span class="label2">个人所得税</span> <span class="label1">{{个人所得税 | toFixed2}}</span></td>
      </tr>

      <tr>
        <td v-if="!config.使用统一基数"></td>
        <td></td>
        <td><span class="label2">个人税后实得</span> <span class="label1">{{个人税后实得 | toFixed2}}</span></td>
        <td><span class="label2">单位总支出</span> <span class="label1">{{单位总支出 | toFixed2}}</span></td>
      </tr>

<!--       <tr>
        <td v-if="!config.使用统一基数"></td>
        <td></td>
        <td><span class="label2">个人税后反推</span> <input type="number" v-model.number="config.税后反推" /></td>
        <td></td>
      </tr> -->

    </table>

  <script src="vue.min.js"></script>
  <script src="store2.min.js"></script>
  <script src="gesui.js"></script>
  </body>
</html>
