// 安装好 @umijs/plugin-sass 就好
// umi 自动查找 package.json 并注册
// https://umijs.org/zh-CN/docs/plugin#packagejson-%E4%BE%9D%E8%B5%96

.some {
  color: aqua;
}
.foo {
  color: hotpink;
  .god {
    color: deeppink;
  }
}
