<!doctype html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
  body {
    margin: 0px;
  }

  .textarea {
    margin: 10px;
    border: 1px solid #ccc;
  }

  .textarea textarea {
    width: 100%;
    box-sizing: border-box;
  }

  .linkArea {
    padding: 10px;
  }

</style>
<div id="app">
  <div class="textarea">
    <textarea v-model="linkText" rows="10"></textarea>
  </div>
  <div class="linkArea">
    <div v-for="(vv, index) in linkList">
      <a :href="vv">{{index+1}}: {{vv}}</a>
    </div>
  </div>
</div>
<script src="https://lib.baomitu.com/vue/2.5.21/vue.min.js"></script>
<script>
  var instance = new Vue({
    el: '#app',
    computed: {
      linkList() {
        return this.linkText.split('\n').filter(vv1 => vv1)
      }
    },
    data() {
      return {
        linkText: '',
      };
    },
  })
</script>
