@b block{
  display:block;
  @e elm{
    height: 30px
  }
  @m big{
    font-size:38px;
    @e elm{
      height: 60px;
      @m kk{
        height: 60px
      }
      @e kk{
        height: 60px
      }
      @b xx{
        height: 60px;
        @m oh{
          height: 60px
        }
        @e my{
          height: 60px
        }
      }
    }
  }
}

