._title_nupb7_1 {
    color: black;
    font-size: 40px;
}

._title_nupb7_1:hover {
    color: red;
}

.page {
    padding: 20px;
}

._title_9pd96_5 {
    color: green;
}

._article_9pd96_10 {
    font-size: 16px;
}
