h1 links
p: a(href="/locals") locals
p: a(href="/top") top
p: a(href="/sub/test") sub/test
p
  a(href="/cc/test", style="margin-right: 10px;") cc/test
  a(href="/god/test") god/test
p
  a(href="/tt/333", style="margin-right: 10px;") tt/333
  a(href="/kk/333") kk/333
p
  a(href="/3ks?god=333", style="margin-right: 10px;") /3ks?god=333
  a(href="/3ks?test") 3ks?test
p: a(href="/req/3333") /req/:id param
p
  a(href="/json", style="margin-right: 10px;") /json
  a(href="/jsonp?callback=test") jsonp?callback=test

p
  a(href="/router/hisland", style="margin-right: 10px;") /router/hisland
  a(href="/sub/router/hisland") /sub/router/hisland

p
  a(href="/best/match", style="margin-right: 10px;") best/match
  a(href="/best/match/anything") best/match/anything

p
  a(href="/get/must/all/match", style="margin-right: 10px;") get/must/all/match
  a(href="/get/must/all/match/another") get/must/all/match/another

p
  a(href="/use/best/match/something", style="margin-right: 10px;") use/best/match/something
  a(href="/use/best/match/inner/anything") use/best/match/inner/anything
